<footer class="">
    <div class="footer-the">
        <div class="footer-the-intern">
            <div class="footer-section">
                <section class="">
                    <a href="{{path('main')}}">Accueil</a>
                </section>
            </div>
            <div class="footer-section">
                <section class="">
                    <a href="{{ path('user_edit', {id : app.user.id }) }}">Mon Compte</a>
                </section>
            </div>
            <div class="footer-section">
                <section class="">
                    <a href="">CVG</a>
                </section>
            </div>
            <div class="footer-section">
                <section class="">
                    <a href="">Mentions Légales</a>
                </section>
            </div>
            <div class="footer-section">
                <section class="">
                    <a href="{{path('app_contact')}}">Nous contacter</a>
                </section>
            </div>
        </div>
    </div>
    <a class="footerHome" href="#"><img src="{{ asset('assets/uploads/up-arrow.png' ) }}" class="card-img-top img-fluid circle-footer" alt=""></a>
</footer>